body {
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  display: block; 
  cursor: default;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-size: cover;
}


